/*
 *      This file is a part of GCweb (unoffical web render for GCstar)
 *      Copyright (c) 2007 Jonas Fourquier <http://jonas.tuxfamily.org> and contributors
 *
 *      GCweb is free software; you can redistribute it and/or modify
 *      it under the terms of the GNU General Public License as published by
 *      the Free Software Foundation; either version 2 of the License, or
 *      (at your option) any later version.
 *
 *      This program is distributed in the hope that it will be useful,
 *      but WITHOUT ANY WARRANTY; without even the implied warranty of
 *      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *      GNU General Public License for more details.
 *
 *      You should have received a copy of the GNU General Public License
 *      along with this program; if not, write to the Free Software
 *      Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301, USA.
 */


/*** Fond ***/
html {
    background: #FFF;
}

/*** Zone de GCweb ***/
body {
    margin : 0;
    padding : 0;
    border: none;
    font-size: 7pt;
}

/*** Apparence des boites type ***/
div.box {
    margin : 3px;
    padding : 5px;
    background : #FFF;
    border-width : 1px;
    -moz-border-radius : 10px;
    -khtml-border-radius : 10px;
    border-radius : 10px;
}

/*** caché le titre du site ***/
div#title {
    display: none;
}

/*** le menu ***/

div#menu {
    float: none;
    width: 100%;
}

#menu #infoCollec p {
    margin: .3em 0;
}

/* on cache le reste */
#menu div#navigation, #menu div#classer, #menu div#menusearch, #menu div#info, div#rss {
    display: none;
}

ul#menuAffExport {
    display: none;
}

div#foot {
    float:left;
    width:100%;
}

/*** Caché le zappe collection ***/
#title fieldset {
    display: none;
}

/*** Decalage du contenu pour laisser la place au menu ***/
div#list, div#mosaique, div#onlydesc, div#item, div#cloud, div#search, div#export, div#exportcode {
    margin-left: 0;
}

#list span.starNote {
    background : none;
}

img.image {
    padding : 0;
    background-color: #FFF;
    margin : 0;
    -moz-border-radius : 0;
    -khtml-border-radius : 0;
    border-radius : 0;
    border: 1px solid black;
}

img.image:hover {
    padding : 0;
    background-color: #FFF;
    margin : 0;
    -moz-border-radius : 0;
    -khtml-border-radius : 0;
    border-radius : 0;
}

#list img.image {
    margin-right:5px;
}
#list img.image:hover {
    margin-right:5px;
}

#list .element div.box {    /* Position dans ces boites */
    height:120px;
}

#list div.scroll { /*div contenant le texte a coté de l'image */
    height: 120px;
}

#list .scroll ul {
    padding: 0;
    margin: .2em 0;
}



#mosaique span.legend {
    display: none
}